body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #fc466b, #3f5efb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 450px;
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fc466b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e03a63;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.options a {
    color: #999;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
